<body>
    <main>
        <div class="aurora-outer">
            <div class="aurora-inner">
            <h1 class="title">One-Armed Bandit!</h1>
                <div id="program-bttn">
                    <button onclick="window.location.reload()">Run program!</button>
                </div>
                <div id="terminal-container">
                    <div id="terminal"></div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div id="copyright-container">
            <a href="https://github.com/ShemmyYo/" target="_blank" rel="noopener"
                aria-label="Visit my GitHub page(opens in a new tab)">2022 ShemmyYo -
                Project developed for Educational purposes</a>
        </div>
    </footer>
    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>